.footer-fpern{

    background:var(--color-darkblue);
    height:80px;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    text-align: center;
}